<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">morepugs</h3>
</div>

<div class="col-12-md row main-content">
  <div class="filters">
    <button class="filter-btn btn" ng-class="{'btn-success':category.active, 'btn-primary':!category.active}" ng-click="toggleCategory(category)" ng-repeat="category in categories">{{category.name}}</button>
  </div>
  <ul class="images">
    <li ng-repeat="item in filteredData"><a ng-href="{{item.url}}" target='_blank'><img ng-src="{{item.thumbnail}}" err-SRC="images/default-thumb.gif" width="200" height="200"></a></li>
  </ul>
</div>

<div class="clearfix">
  <button class="btn btn-primary" ng-click="more()">More</button>
</div>

<div class="footer">
  <p>Brought to you by <a href="mailto:murphyalexandre@gmail.com">Alexandre Murphy-Gonthier</a></p>
</div>
